body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #FAF0EE;
}

.container {
    margin: 0 auto;
    padding-top: 65px;
    padding-left: 80px;
    padding-right: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}

ul {
    display: flex;
    list-style: none;
    gap: 48px;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main section {
    flex: 1;
    margin-right: 20px;
}

main .foto {
    flex: 1;
    max-width: 100%;
}

button:hover {
    background: #407764;
    cursor: pointer;
}

footer {
    margin-top: 133px;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #29533B;
}

span {
    color: #258450;
}
